<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a> Customer detail</a><br />
Title :<span th:text="${customer.title}" ></span><br />
First Name :<span th:text="${customer.firstName}" ></span><br />
Last Name :<span th:text="${customer.lastName}" ></span><br />
Email Address :<span th:text="${customer.emailAddress}" ></span><br />
Street Address :<span th:text="${customer.streetAddress}" ></span><br />
City :<span th:text="${customer.city}" ></span><br />
State :<span th:text="${customer.state}" ></span><br />
Zip code :<span th:text="${customer.zipCode}" ></span><br />
</body>
</html>